@font-face {
    font-family: MrEavesXLModOT-Book;
    src: url(../mreavesxl/MrEavesXLModOT-Book.ttf);
}

@font-face {
    font-family: MrEavesXLModOT-Ultra;
    src: url(/mreavesxl/MrEavesXLModOT-Ultra.ttf);
}

cleanUL {
    margin: 0;
    padding: 0;
    list-style: none;
}

cleanA {
    text-decoration: none;
    color: #000;
}

myButton {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.4375rem 1.75rem;
    border: 0;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    -webkit-transition: all 150ms;
    transition: all 150ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: MrEavesXLModOT-Book;
}

.container-fluid {
    padding-left: 60px;
    padding-right: 60px;
}

header {
    position: relative;
    z-index: 9999;

    .logo {
        display: flex;

        a {
            display: block;
            padding: 1rem .5rem 1rem 0;
            height: 4rem;

            img {
                height: 28px;
                width: auto;
            }

            &.btn-menu-mobile {
                font-size: 14px;
                display: flex;
                align-items: center;

                i {
                    color: #272727;
                    transition: .3s;
                }
                &.change-close{
                    i{
                        transform: rotate(-180deg);
                    }
                }
            }
        }
    }

    .site-menu {
        @extend cleanUL;
        float: right;

        li {
            display: inline-block;

            a {
                @extend cleanA;
                display: block;
                padding: 1rem;
                cursor: pointer;
                color: #0a0918;

                &:hover {
                    color: #ee2761;
                }
            }

            &.login {
                a {
                    color: #ee2761;
                    font-weight: bold;
                }
            }
        }
    }

    .menu-mobile {
        position: absolute;
        @extend cleanUL;
        background: #fff;
        top: 100%;
        left: -5px;
        width: calc(100% + 10px);
        display: none;

        li {
            display: block;
            width: 100%;

            a {
                @extend cleanA;
                display: block;
                padding: .5rem;
                cursor: pointer;
                color: #0a0918;
                border-bottom: 1px solid #dee2e6;
                text-align: center;
                font-size: 14px;
            }

            &.current {
                a {
                    color: #ee2761;
                    font-weight: bold;
                }
            }

            &:last-child {
                a {
                    border: 0;
                }
            }
        }
    }
}

nav {
    border-top: 1px solid #edeff3;

    .nav-bar {
        ul {
            @extend cleanUL;

            li {
                display: inline-block;
                margin-right: 1.625rem;
                padding: 1rem 0;

                a {
                    @extend cleanA;
                    color: #575c5f;
                }

                &:hover {
                    a {
                        color: #000;
                    }
                }
            }
        }
    }
}

#homepage-one {
    background: url(../images/E4TgtTi.png) top !important;
    background-size: cover;
    padding: 0 90px;
    margin-bottom: 50px;

    .page-content {
        padding: 150px 0;
        max-width: 570px;
        color: #fff;

        h1 {
            font-size: 3rem;
            font-family: MrEavesXLModOT-Ultra;
        }

        p {}

        a {
            @extend myButton;
            color: #212032;
            background-color: #fff;
            border: 1px solid #6a6f72;

            &:hover {
                border: 1px solid #b6b8b9;
            }
        }
    }
}


#homepage-two {
    background: url(../images/Remelia+-+HPimageHeader.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding: 0 90px;

    .page-content {
        padding: 150px 0;

        h2 {
            color: #fff;
            font-size: 4.5rem;
            max-width: 570px;
            font-family: MrEavesXLModOT-Ultra;
        }

        .search-form {
            margin-top: 20px;
            position: relative;

            form {
                position: relative;
                height: 44px;

                input {
                    &[type="text"] {
                        width: 270px;
                        height: 44px;
                        padding-top: 4px;
                        padding-left: 40px;
                        outline: none;
                        border: 0;
                        background: #f6f6f9;
                        border-radius: 2px 0px 0px 2px;
                        transform: translateY(1px);

                        &:focus {
                            box-shadow: none;
                        }
                    }
                }

                .icon-search {
                    position: absolute;
                    left: 0;
                    top: calc(50% + 3px);
                    transform: translateY(-50%);
                    width: 40px;
                    text-align: center;

                    i {
                        font-size: 14px;
                    }
                }

                button {
                    @extend myButton;
                    background: #ee2761;
                    border: 1px solid #ee2761;
                    padding: 9px 28px 9px;
                    border-radius: 0px 2px 2px 0px;
                    margin-left: -4px;

                    &:hover {
                        background: #af1e48;
                        border: 1px solid #af1e48;
                    }
                }
            }

            .suggestion-results {
                position: absolute;
                width: 345px;
                top: calc(100% + 7px);
                display: none;

                h3 {
                    background: #edeff3;
                    color: #b8bdc5;
                    font-weight: 600;
                    letter-spacing: .5px;
                    font-size: 13px;
                    padding: 5px 20px;
                    margin: 0;
                    border-radius: 2px 2px 0px 0px;
                }

                ul {
                    @extend cleanUL;
                    background: #fff;
                    border-radius: 0px 0px 2px 2px;
                    overflow: hidden;

                    li {
                        a {
                            @extend cleanA;
                            color: #6a6f72;
                            font-weight: bold;
                            display: block;
                            padding: 1.25rem 1.25rem;
                            line-height: 1.7px;
                            text-align: left;
                            border-bottom: 1px solid #edeff3;

                            &:hover {
                                background: #f2feff;
                                color: #428c95;
                            }
                        }
                    }
                }
            }
        }
    }
}

#homepage-three {
    padding: 1.875rem 90px;
    background: #212032;

    .content-cta {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;

        p {
            color: #fff;
            font-weight: 400;
            margin: 0 2em 0 0;
            font-size: 1.125rem;
        }

        a {
            @extend myButton;
            background: #ee2761;
            border: 1px solid #ee2761;

            &:hover {
                background: #af1e48;
                border: 1px solid #af1e48;
            }
        }
    }
}

.homepage-product {
    margin-top: 50px;

    h2 {
        &.title-categories {
            margin-bottom: 40px;
            color: #000;
            font-family: MrEavesXLModOT-Ultra;

            a {
                @extend cleanA;
                font-size: 16px;
                color: #ee2761;
                font-family: MrEavesXLModOT-Book;
                margin-left: 15px;
                font-weight: bold;
            }
        }
    }

    .item-product {
        .thumb {
            margin-bottom: 15px;
            height: 340px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img {
                width: 100%;

            }
        }

        h2 {
            margin: 0;

            a {
                color: #0a0918;
                font-weight: bold;
                font-size: .9375rem;
                display: block;
                text-align: center;
                padding: 0 15px;
                text-decoration: none;
            }
        }

        p {
            color: #6a6f72;
            font-size: .8em;
            text-align: center;
            padding: 0 15px;
            margin: 0;
        }
    }
}

#homepage-four {
    margin-top: 50px;

    .images-desktop {
        img {
            width: 100%;
            height: auto;
        }
    }
}


.homepage-cate {

    margin-top: 50px;

    h2 {
        &.title-categories {
            margin-bottom: 40px;
            color: #000;
            font-family: MrEavesXLModOT-Ultra;
        }
    }

    .c-item {
        img {
            width: 100%;
        }
    }
}

#promo-video {
    background: #f6f6f9;
    margin-top: 50px;
    padding: 50px;

    .thumb-video {
        img {
            width: 100%;

        }
    }

    .content-video {
        margin-top: 50px;

        h2 {
            color: #282562;
            font-family: MrEavesXLModOT-Ultra;
        }

        p {}

        a {
            @extend myButton;
            background: #ee2761;
            border: 1px solid #ee2761;

            &:hover {
                background: #af1e48;
                border: 1px solid #af1e48;
            }
        }
    }
}

footer {
    background: #282562;
    padding: 50px 0 30px;
    margin-top: 50px;

    .footer-nav {
        margin-bottom: 40px;
    }

    ul {
        @extend cleanUL;

        li {
            display: inline-block;
            padding-right: 1.8125rem;

            a {
                @extend cleanA;
                color: #fff;
                opacity: .9;

                &:hover {
                    opacity: .5;
                    color: #fff;
                    text-decoration: none;
                }
            }

            &.help {
                a {
                    @extend myButton;
                    background: #ee2761;
                    border: 1px solid #ee2761;

                    &:hover {
                        background: #af1e48;
                        border: 1px solid #af1e48;
                    }

                }
            }
        }
    }

    .switcher-language {
        text-align: right;

        select {
            border: 1px solid rgba(232, 236, 237, 0.7);
            height: 40px;
            background: #282562;
            color: #fff;
            opacity: .9;
            width: 120px;
            outline: none;

            &focus {
                box-shadow: none;
            }
        }
    }

    p {
        &.copyright {
            color: #fff;
            opacity: .9;
        }
    }

    .social {
        ul {
            @extend cleanUL;
            text-align: right;

            li {
                padding-right: 1rem;

                a {
                    text-decoration: none;
                    color: #fff;
                    opacity: .6;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .m-help {
        display: none;
    }
}
