@font-face {
  font-family: MrEavesXLModOT-Book;
  src: url(../mreavesxl/MrEavesXLModOT-Book.ttf); }

@font-face {
  font-family: MrEavesXLModOT-Ultra;
  src: url(/gthaptik/gt-haptik-bold-webfont.ttf); }

/* line 11, /Users/vuvankhai/Desktop/Job/style/style.scss */
cleanUL, header .site-menu, header .menu-mobile, header .search-form .suggestion-results ul, nav .nav-bar ul, #homepage-two .page-content .search-form .suggestion-results ul, footer ul, footer .social ul, .search-modal .search-form .suggestion-results ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 17, /Users/vuvankhai/Desktop/Job/style/style.scss */
cleanA, header .site-menu li a, header .menu-mobile li a, header .search-form .suggestion-results ul li a, nav .nav-bar ul li a, #homepage-two .page-content .search-form .suggestion-results ul li a, .homepage-product h2.title-categories a, footer ul li a, .search-modal .search-form .suggestion-results ul li a {
  text-decoration: none;
  color: #000; }

/* line 22, /Users/vuvankhai/Desktop/Job/style/style.scss */
myButton, header .search-form form button, #homepage-one .page-content a, #homepage-two .page-content .search-form form button, #homepage-three .content-cta a, #promo-video .content-video a, footer ul li.help a, .search-modal .search-form form button, #login-page .form-login .form-item .btn-login, #login-page .form-login .login-option a, #signup-page .form-signup .form-item .btn-signup, #signup-page .form-signup .signup-option a, #recover-page .form-recover .form-item .btn-recover {
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.4375rem 1.75rem;
  border: 0;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  -webkit-transition: all 150ms;
  transition: all 150ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  text-decoration: none; }

/* line 43, /Users/vuvankhai/Desktop/Job/style/style.scss */
body {
  margin: 0;
  padding: 0;
  font-family: MrEavesXLModOT-Book; }

/* line 49, /Users/vuvankhai/Desktop/Job/style/style.scss */
.container-fluid {
  padding-left: 60px;
  padding-right: 60px; }

/* line 54, /Users/vuvankhai/Desktop/Job/style/style.scss */
header {
  position: relative;
  border-bottom: 1px solid #edeff3; }
  /* line 58, /Users/vuvankhai/Desktop/Job/style/style.scss */
  header .logo {
    display: flex; }
    /* line 61, /Users/vuvankhai/Desktop/Job/style/style.scss */
    header .logo a {
      display: block;
      padding: 1rem .5rem 1rem 0;
      height: 4rem; }
      /* line 66, /Users/vuvankhai/Desktop/Job/style/style.scss */
      header .logo a img {
        height: 28px;
        width: auto; }
      /* line 71, /Users/vuvankhai/Desktop/Job/style/style.scss */
      header .logo a.btn-menu-mobile {
        font-size: 14px;
        display: none;
        align-items: center; }
        /* line 76, /Users/vuvankhai/Desktop/Job/style/style.scss */
        header .logo a.btn-menu-mobile i {
          color: #272727;
          transition: .3s; }
        /* line 82, /Users/vuvankhai/Desktop/Job/style/style.scss */
        header .logo a.btn-menu-mobile.change-close i {
          transform: rotate(-180deg); }
  /* line 90, /Users/vuvankhai/Desktop/Job/style/style.scss */
  header .btn-search-mobile {
    display: none; }
  /* line 94, /Users/vuvankhai/Desktop/Job/style/style.scss */
  header .site-menu {
    float: right; }
    /* line 98, /Users/vuvankhai/Desktop/Job/style/style.scss */
    header .site-menu li {
      display: inline-block; }
      /* line 101, /Users/vuvankhai/Desktop/Job/style/style.scss */
      header .site-menu li a {
        display: block;
        padding: 1rem;
        cursor: pointer;
        color: #0a0918; }
        /* line 108, /Users/vuvankhai/Desktop/Job/style/style.scss */
        header .site-menu li a:hover {
          color: #ee2761; }
      /* line 114, /Users/vuvankhai/Desktop/Job/style/style.scss */
      header .site-menu li.login a {
        color: #ee2761;
        font-weight: bold; }
  /* line 122, /Users/vuvankhai/Desktop/Job/style/style.scss */
  header .menu-mobile {
    position: absolute;
    background: #fff;
    top: 100%;
    left: -5px;
    width: calc(100% + 10px);
    display: none;
    z-index: 2; }
    /* line 132, /Users/vuvankhai/Desktop/Job/style/style.scss */
    header .menu-mobile li {
      display: block;
      width: 100%; }
      /* line 136, /Users/vuvankhai/Desktop/Job/style/style.scss */
      header .menu-mobile li a {
        display: block;
        padding: .5rem;
        cursor: pointer;
        color: #0a0918;
        border-bottom: 1px solid #dee2e6;
        text-align: center;
        font-size: 14px; }
      /* line 148, /Users/vuvankhai/Desktop/Job/style/style.scss */
      header .menu-mobile li.current a {
        color: #ee2761;
        font-weight: bold; }
      /* line 155, /Users/vuvankhai/Desktop/Job/style/style.scss */
      header .menu-mobile li:last-child a {
        border: 0; }
  /* line 162, /Users/vuvankhai/Desktop/Job/style/style.scss */
  header .search-form {
    position: relative;
    float: left;
    z-index: 2; }
    /* line 167, /Users/vuvankhai/Desktop/Job/style/style.scss */
    header .search-form form {
      position: relative;
      height: 44px; }
      /* line 172, /Users/vuvankhai/Desktop/Job/style/style.scss */
      header .search-form form input[type="text"] {
        width: 340px;
        height: 44px;
        padding-top: 4px;
        padding-left: 40px;
        outline: none;
        border: 0;
        background: #f6f6f9;
        border-radius: 2px 0px 0px 2px;
        transform: translateY(1px); }
        /* line 183, /Users/vuvankhai/Desktop/Job/style/style.scss */
        header .search-form form input[type="text"]:focus {
          box-shadow: none; }
      /* line 189, /Users/vuvankhai/Desktop/Job/style/style.scss */
      header .search-form form .icon-search {
        position: absolute;
        left: 0;
        top: calc(50% + 3px);
        transform: translateY(-50%);
        width: 40px;
        text-align: center; }
        /* line 197, /Users/vuvankhai/Desktop/Job/style/style.scss */
        header .search-form form .icon-search i {
          font-size: 14px; }
      /* line 202, /Users/vuvankhai/Desktop/Job/style/style.scss */
      header .search-form form button {
        background: #ee2761;
        border: 1px solid #ee2761;
        padding: 9px 28px 9px;
        border-radius: 0px 2px 2px 0px;
        margin-left: -4px; }
        /* line 210, /Users/vuvankhai/Desktop/Job/style/style.scss */
        header .search-form form button:hover {
          background: #af1e48;
          border: 1px solid #af1e48; }
    /* line 217, /Users/vuvankhai/Desktop/Job/style/style.scss */
    header .search-form .suggestion-results {
      position: absolute;
      width: 325px;
      top: calc(100% + 7px);
      display: none; }
      /* line 223, /Users/vuvankhai/Desktop/Job/style/style.scss */
      header .search-form .suggestion-results h3 {
        background: #edeff3;
        color: #b8bdc5;
        font-weight: 600;
        letter-spacing: .5px;
        font-size: 13px;
        padding: 5px 20px;
        margin: 0;
        border-radius: 2px 2px 0px 0px; }
      /* line 234, /Users/vuvankhai/Desktop/Job/style/style.scss */
      header .search-form .suggestion-results ul {
        background: #fff;
        border-radius: 0px 0px 2px 2px;
        overflow: hidden; }
        /* line 241, /Users/vuvankhai/Desktop/Job/style/style.scss */
        header .search-form .suggestion-results ul li a {
          color: #6a6f72;
          font-weight: bold;
          display: block;
          padding: 1.25rem 1.25rem;
          line-height: 1.7px;
          text-align: left;
          border-bottom: 1px solid #edeff3; }
          /* line 251, /Users/vuvankhai/Desktop/Job/style/style.scss */
          header .search-form .suggestion-results ul li a:hover {
            background: #f2feff;
            color: #428c95; }
  /* line 262, /Users/vuvankhai/Desktop/Job/style/style.scss */
  header.no-homepage .search-form {
    transform: translateY(8px); }
    /* line 265, /Users/vuvankhai/Desktop/Job/style/style.scss */
    header.no-homepage .search-form .action-search {
      background: #fff;
      border: 1px solid #d8dae0; }
      /* line 269, /Users/vuvankhai/Desktop/Job/style/style.scss */
      header.no-homepage .search-form .action-search:focus {
        border-color: #5ec8d5;
        outline: none; }

/* line 279, /Users/vuvankhai/Desktop/Job/style/style.scss */
nav.no-homepage {
  border-bottom: 1px solid #edeff3; }

/* line 287, /Users/vuvankhai/Desktop/Job/style/style.scss */
nav .nav-bar ul li {
  display: inline-block;
  margin-right: 1.625rem;
  padding: 1rem 0; }
  /* line 292, /Users/vuvankhai/Desktop/Job/style/style.scss */
  nav .nav-bar ul li a {
    color: #575c5f; }
  /* line 298, /Users/vuvankhai/Desktop/Job/style/style.scss */
  nav .nav-bar ul li:hover a {
    color: #000; }

/* line 307, /Users/vuvankhai/Desktop/Job/style/style.scss */
#homepage-one {
  background: url(../images/E4TgtTi.png) top !important;
  background-size: cover;
  padding: 0 90px;
  margin-bottom: 50px; }
  /* line 313, /Users/vuvankhai/Desktop/Job/style/style.scss */
  #homepage-one .page-content {
    padding: 150px 0;
    max-width: 570px;
    color: #fff; }
    /* line 318, /Users/vuvankhai/Desktop/Job/style/style.scss */
    #homepage-one .page-content h1 {
      font-size: 3rem;
      font-family: MrEavesXLModOT-Ultra; }
    /* line 325, /Users/vuvankhai/Desktop/Job/style/style.scss */
    #homepage-one .page-content a {
      color: #212032;
      background-color: #fff;
      border: 1px solid #6a6f72; }
      /* line 331, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #homepage-one .page-content a:hover {
        border: 1px solid #b6b8b9; }

/* line 339, /Users/vuvankhai/Desktop/Job/style/style.scss */
#homepage-two {
  background: url(../images/Remelia+-+HPimageHeader.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 0 90px; }
  /* line 346, /Users/vuvankhai/Desktop/Job/style/style.scss */
  #homepage-two .page-content {
    padding: 150px 0; }
    /* line 349, /Users/vuvankhai/Desktop/Job/style/style.scss */
    #homepage-two .page-content h2 {
      color: #fff;
      font-size: 4.5rem;
      max-width: 570px;
      font-family: MrEavesXLModOT-Ultra; }
    /* line 356, /Users/vuvankhai/Desktop/Job/style/style.scss */
    #homepage-two .page-content .search-form {
      margin-top: 20px;
      position: relative; }
      /* line 360, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #homepage-two .page-content .search-form form {
        position: relative;
        height: 44px; }
        /* line 365, /Users/vuvankhai/Desktop/Job/style/style.scss */
        #homepage-two .page-content .search-form form input[type="text"] {
          width: 270px;
          height: 44px;
          padding-top: 4px;
          padding-left: 40px;
          outline: none;
          border: 0;
          background: #f6f6f9;
          border-radius: 2px 0px 0px 2px;
          transform: translateY(1px); }
          /* line 376, /Users/vuvankhai/Desktop/Job/style/style.scss */
          #homepage-two .page-content .search-form form input[type="text"]:focus {
            box-shadow: none; }
        /* line 382, /Users/vuvankhai/Desktop/Job/style/style.scss */
        #homepage-two .page-content .search-form form .icon-search {
          position: absolute;
          left: 0;
          top: calc(50% + 3px);
          transform: translateY(-50%);
          width: 40px;
          text-align: center; }
          /* line 390, /Users/vuvankhai/Desktop/Job/style/style.scss */
          #homepage-two .page-content .search-form form .icon-search i {
            font-size: 14px; }
        /* line 395, /Users/vuvankhai/Desktop/Job/style/style.scss */
        #homepage-two .page-content .search-form form button {
          background: #ee2761;
          border: 1px solid #ee2761;
          padding: 9px 28px 9px;
          border-radius: 0px 2px 2px 0px;
          margin-left: -4px; }
          /* line 403, /Users/vuvankhai/Desktop/Job/style/style.scss */
          #homepage-two .page-content .search-form form button:hover {
            background: #af1e48;
            border: 1px solid #af1e48; }
      /* line 410, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #homepage-two .page-content .search-form .suggestion-results {
        position: absolute;
        width: 345px;
        top: calc(100% + 7px);
        display: none; }
        /* line 416, /Users/vuvankhai/Desktop/Job/style/style.scss */
        #homepage-two .page-content .search-form .suggestion-results h3 {
          background: #edeff3;
          color: #b8bdc5;
          font-weight: 600;
          letter-spacing: .5px;
          font-size: 13px;
          padding: 5px 20px;
          margin: 0;
          border-radius: 2px 2px 0px 0px; }
        /* line 427, /Users/vuvankhai/Desktop/Job/style/style.scss */
        #homepage-two .page-content .search-form .suggestion-results ul {
          background: #fff;
          border-radius: 0px 0px 2px 2px;
          overflow: hidden; }
          /* line 434, /Users/vuvankhai/Desktop/Job/style/style.scss */
          #homepage-two .page-content .search-form .suggestion-results ul li a {
            color: #6a6f72;
            font-weight: bold;
            display: block;
            padding: 1.25rem 1.25rem;
            line-height: 1.7px;
            text-align: left;
            border-bottom: 1px solid #edeff3; }
            /* line 444, /Users/vuvankhai/Desktop/Job/style/style.scss */
            #homepage-two .page-content .search-form .suggestion-results ul li a:hover {
              background: #f2feff;
              color: #428c95; }

/* line 456, /Users/vuvankhai/Desktop/Job/style/style.scss */
#homepage-three {
  padding: 1.875rem 90px;
  background: #212032; }
  /* line 460, /Users/vuvankhai/Desktop/Job/style/style.scss */
  #homepage-three .content-cta {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; }
    /* line 466, /Users/vuvankhai/Desktop/Job/style/style.scss */
    #homepage-three .content-cta p {
      color: #fff;
      font-weight: 400;
      margin: 0 2em 0 0;
      font-size: 1.125rem; }
    /* line 473, /Users/vuvankhai/Desktop/Job/style/style.scss */
    #homepage-three .content-cta a {
      background: #ee2761;
      border: 1px solid #ee2761; }
      /* line 478, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #homepage-three .content-cta a:hover {
        background: #af1e48;
        border: 1px solid #af1e48; }

/* line 486, /Users/vuvankhai/Desktop/Job/style/style.scss */
.homepage-product {
  margin-top: 50px; }
  /* line 490, /Users/vuvankhai/Desktop/Job/style/style.scss */
  .homepage-product h2.title-categories {
    margin-bottom: 40px;
    color: #000;
    font-family: MrEavesXLModOT-Ultra; }
    /* line 495, /Users/vuvankhai/Desktop/Job/style/style.scss */
    .homepage-product h2.title-categories a {
      font-size: 16px;
      color: #ee2761;
      font-family: MrEavesXLModOT-Book;
      margin-left: 15px;
      font-weight: bold; }
  /* line 507, /Users/vuvankhai/Desktop/Job/style/style.scss */
  .homepage-product .item-product .thumb {
    margin-bottom: 15px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    /* line 515, /Users/vuvankhai/Desktop/Job/style/style.scss */
    .homepage-product .item-product .thumb img {
      width: 100%; }
  /* line 521, /Users/vuvankhai/Desktop/Job/style/style.scss */
  .homepage-product .item-product h2 {
    margin: 0; }
    /* line 524, /Users/vuvankhai/Desktop/Job/style/style.scss */
    .homepage-product .item-product h2 a {
      color: #0a0918;
      font-weight: bold;
      font-size: .9375rem;
      display: block;
      text-align: center;
      padding: 0 15px;
      text-decoration: none; }
  /* line 535, /Users/vuvankhai/Desktop/Job/style/style.scss */
  .homepage-product .item-product p {
    color: #6a6f72;
    font-size: .8em;
    text-align: center;
    padding: 0 15px;
    margin: 0; }

/* line 545, /Users/vuvankhai/Desktop/Job/style/style.scss */
#homepage-four {
  margin-top: 50px; }
  /* line 549, /Users/vuvankhai/Desktop/Job/style/style.scss */
  #homepage-four .images-desktop img {
    width: 100%;
    height: auto; }

/* line 557, /Users/vuvankhai/Desktop/Job/style/style.scss */
.homepage-cate {
  margin-top: 50px; }
  /* line 562, /Users/vuvankhai/Desktop/Job/style/style.scss */
  .homepage-cate h2.title-categories {
    margin-bottom: 40px;
    color: #000;
    font-family: MrEavesXLModOT-Ultra; }
  /* line 570, /Users/vuvankhai/Desktop/Job/style/style.scss */
  .homepage-cate .c-item img {
    width: 100%; }

/* line 576, /Users/vuvankhai/Desktop/Job/style/style.scss */
#promo-video {
  background: #f6f6f9;
  margin-top: 50px;
  padding: 50px; }
  /* line 582, /Users/vuvankhai/Desktop/Job/style/style.scss */
  #promo-video .thumb-video img {
    width: 100%; }
  /* line 588, /Users/vuvankhai/Desktop/Job/style/style.scss */
  #promo-video .content-video {
    margin-top: 50px; }
    /* line 591, /Users/vuvankhai/Desktop/Job/style/style.scss */
    #promo-video .content-video h2 {
      color: #282562;
      font-family: MrEavesXLModOT-Ultra; }
    /* line 598, /Users/vuvankhai/Desktop/Job/style/style.scss */
    #promo-video .content-video a {
      background: #ee2761;
      border: 1px solid #ee2761; }
      /* line 603, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #promo-video .content-video a:hover {
        background: #af1e48;
        border: 1px solid #af1e48; }

/* line 611, /Users/vuvankhai/Desktop/Job/style/style.scss */
footer {
  background: #282562;
  padding: 50px 100px 30px;
  margin-top: 50px; }
  /* line 616, /Users/vuvankhai/Desktop/Job/style/style.scss */
  footer .footer-nav {
    margin-bottom: 40px; }
  /* line 623, /Users/vuvankhai/Desktop/Job/style/style.scss */
  footer ul li {
    display: inline-block;
    padding-right: 1.8125rem; }
    /* line 627, /Users/vuvankhai/Desktop/Job/style/style.scss */
    footer ul li a {
      color: #fff;
      opacity: .9; }
      /* line 632, /Users/vuvankhai/Desktop/Job/style/style.scss */
      footer ul li a:hover {
        opacity: .5;
        color: #fff;
        text-decoration: none; }
    /* line 640, /Users/vuvankhai/Desktop/Job/style/style.scss */
    footer ul li.help a {
      background: #ee2761;
      border: 1px solid #ee2761; }
      /* line 645, /Users/vuvankhai/Desktop/Job/style/style.scss */
      footer ul li.help a:hover {
        background: #af1e48;
        border: 1px solid #af1e48; }
  /* line 655, /Users/vuvankhai/Desktop/Job/style/style.scss */
  footer .switcher-language {
    text-align: right; }
    /* line 658, /Users/vuvankhai/Desktop/Job/style/style.scss */
    footer .switcher-language select {
      border: 1px solid rgba(232, 236, 237, 0.7);
      height: 40px;
      background: #282562;
      color: #fff;
      opacity: .9;
      width: 120px;
      outline: none; }
      /* line 667, /Users/vuvankhai/Desktop/Job/style/style.scss */
      footer .switcher-language selectfocus {
        box-shadow: none; }
  /* line 674, /Users/vuvankhai/Desktop/Job/style/style.scss */
  footer p.copyright {
    color: #fff;
    opacity: .9; }
  /* line 681, /Users/vuvankhai/Desktop/Job/style/style.scss */
  footer .social ul {
    text-align: right; }
    /* line 685, /Users/vuvankhai/Desktop/Job/style/style.scss */
    footer .social ul li {
      padding-right: 1rem; }
      /* line 688, /Users/vuvankhai/Desktop/Job/style/style.scss */
      footer .social ul li a {
        text-decoration: none;
        color: #fff;
        opacity: .6; }
        /* line 693, /Users/vuvankhai/Desktop/Job/style/style.scss */
        footer .social ul li a:hover {
          opacity: 1; }
  /* line 701, /Users/vuvankhai/Desktop/Job/style/style.scss */
  footer .m-help {
    display: none; }
  /* line 708, /Users/vuvankhai/Desktop/Job/style/style.scss */
  footer.no-homepage .footer-nav ul li {
    margin-bottom: 10px; }
  /* line 714, /Users/vuvankhai/Desktop/Job/style/style.scss */
  footer.no-homepage .switcher-language {
    text-align: left; }
  /* line 718, /Users/vuvankhai/Desktop/Job/style/style.scss */
  footer.no-homepage .copyright {
    float: left; }
  /* line 722, /Users/vuvankhai/Desktop/Job/style/style.scss */
  footer.no-homepage .socical {
    float: right; }

/* line 728, /Users/vuvankhai/Desktop/Job/style/style.scss */
.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none; }
  /* line 737, /Users/vuvankhai/Desktop/Job/style/style.scss */
  .search-modal .over-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); }
  /* line 746, /Users/vuvankhai/Desktop/Job/style/style.scss */
  .search-modal .search-form {
    position: absolute;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1; }
    /* line 753, /Users/vuvankhai/Desktop/Job/style/style.scss */
    .search-modal .search-form form {
      position: relative;
      height: 44px; }
      /* line 758, /Users/vuvankhai/Desktop/Job/style/style.scss */
      .search-modal .search-form form input[type="text"] {
        width: 100%;
        height: 44px;
        padding-top: 4px;
        padding-left: 40px;
        outline: none;
        border: 0;
        background: #fff;
        border-radius: 2px 0px 0px 2px;
        transform: translateY(1px); }
        /* line 769, /Users/vuvankhai/Desktop/Job/style/style.scss */
        .search-modal .search-form form input[type="text"]:focus {
          box-shadow: none; }
      /* line 775, /Users/vuvankhai/Desktop/Job/style/style.scss */
      .search-modal .search-form form .icon-search {
        position: absolute;
        left: 0;
        top: calc(50% + 3px);
        transform: translateY(-50%);
        width: 40px;
        text-align: center; }
        /* line 783, /Users/vuvankhai/Desktop/Job/style/style.scss */
        .search-modal .search-form form .icon-search i {
          font-size: 14px; }
      /* line 788, /Users/vuvankhai/Desktop/Job/style/style.scss */
      .search-modal .search-form form button {
        background: #ee2761;
        border: 1px solid #ee2761;
        padding: 9px 28px 9px;
        border-radius: 0px 2px 2px 0px;
        margin-left: -4px; }
        /* line 796, /Users/vuvankhai/Desktop/Job/style/style.scss */
        .search-modal .search-form form button:hover {
          background: #af1e48;
          border: 1px solid #af1e48; }
      /* line 802, /Users/vuvankhai/Desktop/Job/style/style.scss */
      .search-modal .search-form form .btn-cancel {
        position: absolute;
        right: 15px;
        top: 11px;
        font-weight: bold; }
    /* line 810, /Users/vuvankhai/Desktop/Job/style/style.scss */
    .search-modal .search-form .suggestion-results {
      position: absolute;
      width: 100%;
      top: calc(100%); }
      /* line 815, /Users/vuvankhai/Desktop/Job/style/style.scss */
      .search-modal .search-form .suggestion-results h3 {
        background: #edeff3;
        color: #b8bdc5;
        font-weight: 600;
        letter-spacing: .5px;
        font-size: 13px;
        padding: 5px 20px;
        margin: 0;
        border-radius: 2px 2px 0px 0px; }
      /* line 826, /Users/vuvankhai/Desktop/Job/style/style.scss */
      .search-modal .search-form .suggestion-results ul {
        background: #fff;
        border-radius: 0px 0px 2px 2px;
        overflow: hidden; }
        /* line 833, /Users/vuvankhai/Desktop/Job/style/style.scss */
        .search-modal .search-form .suggestion-results ul li a {
          color: #6a6f72;
          font-weight: bold;
          display: block;
          padding: 1.25rem 1.25rem;
          line-height: 1.7px;
          text-align: left;
          border-bottom: 1px solid #edeff3; }
          /* line 843, /Users/vuvankhai/Desktop/Job/style/style.scss */
          .search-modal .search-form .suggestion-results ul li a:hover {
            background: #f2feff;
            color: #428c95; }

/* line 855, /Users/vuvankhai/Desktop/Job/style/style.scss */
#login-page {
  padding: 50px 0; }
  /* line 859, /Users/vuvankhai/Desktop/Job/style/style.scss */
  #login-page h1.title-page {
    color: #282562;
    font-family: MrEavesXLModOT-Ultra;
    font-size: 28px;
    text-align: center; }
  /* line 867, /Users/vuvankhai/Desktop/Job/style/style.scss */
  #login-page .sub-title {
    text-align: center;
    margin-bottom: 15px; }
    /* line 871, /Users/vuvankhai/Desktop/Job/style/style.scss */
    #login-page .sub-title a {
      color: #ee2761; }
  /* line 876, /Users/vuvankhai/Desktop/Job/style/style.scss */
  #login-page .form-login {
    width: 310px;
    margin: auto;
    max-width: 100%; }
    /* line 881, /Users/vuvankhai/Desktop/Job/style/style.scss */
    #login-page .form-login .form-item {
      border: 1px solid #d8dae0;
      height: 50px;
      overflow: hidden;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      position: relative; }
      /* line 890, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #login-page .form-login .form-item input {
        width: 100%;
        outline: none;
        border: 0;
        padding-left: 15px;
        transition: .1s; }
      /* line 898, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #login-page .form-login .form-item .plabel {
        position: absolute;
        top: 100%;
        left: 15px;
        font-size: 15px;
        color: #828282;
        transition: .05s; }
      /* line 908, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #login-page .form-login .form-item.item-focus input {
        margin-top: 17px; }
      /* line 912, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #login-page .form-login .form-item.item-focus .plabel {
        top: 2px; }
      /* line 918, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #login-page .form-login .form-item.no-border {
        border: 0; }
      /* line 922, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #login-page .form-login .form-item .btn-login {
        background: #ee2761;
        border: 1px solid #ee2761;
        display: block;
        width: 100%; }
        /* line 929, /Users/vuvankhai/Desktop/Job/style/style.scss */
        #login-page .form-login .form-item .btn-login:hover {
          background: #af1e48;
          border: 1px solid #af1e48; }
      /* line 935, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #login-page .form-login .form-item.authen {
        border: 0;
        margin-bottom: 0;
        text-align: center; }
        /* line 940, /Users/vuvankhai/Desktop/Job/style/style.scss */
        #login-page .form-login .form-item.authen a {
          cursor: pointer;
          margin: 0 auto;
          transform: translateY(-10px); }
          /* line 945, /Users/vuvankhai/Desktop/Job/style/style.scss */
          #login-page .form-login .form-item.authen a:hover {
            border-bottom: 1px solid #bd1949; }
        /* line 950, /Users/vuvankhai/Desktop/Job/style/style.scss */
        #login-page .form-login .form-item.authen input {
          display: none; }
        /* line 954, /Users/vuvankhai/Desktop/Job/style/style.scss */
        #login-page .form-login .form-item.authen .plabel {
          display: none; }
      /* line 960, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #login-page .form-login .form-item.authen-input a {
        display: none; }
    /* line 966, /Users/vuvankhai/Desktop/Job/style/style.scss */
    #login-page .form-login .item-option {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      color: #6a6f72;
      font-size: 15px; }
      /* line 976, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #login-page .form-login .item-option .remember .checkbox input {
        transform: translateY(-0.3px); }
      /* line 983, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #login-page .form-login .item-option .forgot a {
        color: #6a6f72; }
    /* line 989, /Users/vuvankhai/Desktop/Job/style/style.scss */
    #login-page .form-login .login-option-title {
      border-bottom: 1px solid #edeff3;
      color: #0a0918;
      height: 0;
      margin: 1rem 0 1.533rem;
      text-align: center; }
      /* line 996, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #login-page .form-login .login-option-title .title {
        color: #6a6f72;
        background: #fff;
        display: inline-block;
        padding: 0 1rem;
        position: relative;
        top: -0.8rem; }
    /* line 1006, /Users/vuvankhai/Desktop/Job/style/style.scss */
    #login-page .form-login .login-option {
      display: flex;
      justify-content: space-between; }
      /* line 1010, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #login-page .form-login .login-option a {
        width: calc(50% - 5px);
        background: #efeff5;
        color: #a7abb3;
        text-align: center; }
        /* line 1017, /Users/vuvankhai/Desktop/Job/style/style.scss */
        #login-page .form-login .login-option a i {
          margin-right: 5px;
          font-size: 15px;
          transform: translateY(1px); }
        /* line 1023, /Users/vuvankhai/Desktop/Job/style/style.scss */
        #login-page .form-login .login-option a:hover {
          background: #6a6f72;
          color: #f6f6f9; }
          /* line 1027, /Users/vuvankhai/Desktop/Job/style/style.scss */
          #login-page .form-login .login-option a:hover i {
            color: #ccc; }

/* line 1037, /Users/vuvankhai/Desktop/Job/style/style.scss */
#signup-page {
  padding: 50px 0; }
  /* line 1041, /Users/vuvankhai/Desktop/Job/style/style.scss */
  #signup-page h1.title-page {
    color: #282562;
    font-family: MrEavesXLModOT-Ultra;
    font-size: 28px;
    text-align: center; }
  /* line 1049, /Users/vuvankhai/Desktop/Job/style/style.scss */
  #signup-page .sub-title {
    text-align: center;
    margin-bottom: 15px; }
    /* line 1053, /Users/vuvankhai/Desktop/Job/style/style.scss */
    #signup-page .sub-title a {
      color: #ee2761; }
  /* line 1058, /Users/vuvankhai/Desktop/Job/style/style.scss */
  #signup-page .form-signup {
    width: 310px;
    margin: auto;
    max-width: 100%; }
    /* line 1063, /Users/vuvankhai/Desktop/Job/style/style.scss */
    #signup-page .form-signup .form-item {
      border: 1px solid #d8dae0;
      height: 50px;
      overflow: hidden;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      position: relative; }
      /* line 1072, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #signup-page .form-signup .form-item input {
        width: 100%;
        outline: none;
        border: 0;
        padding-left: 15px;
        transition: .1s; }
      /* line 1080, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #signup-page .form-signup .form-item .plabel {
        position: absolute;
        top: 100%;
        left: 15px;
        font-size: 15px;
        color: #828282;
        transition: .05s; }
      /* line 1090, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #signup-page .form-signup .form-item.item-focus input {
        margin-top: 17px; }
      /* line 1094, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #signup-page .form-signup .form-item.item-focus .plabel {
        top: 2px; }
      /* line 1100, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #signup-page .form-signup .form-item.no-border {
        border: 0; }
      /* line 1104, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #signup-page .form-signup .form-item .btn-signup {
        background: #ee2761;
        border: 1px solid #ee2761;
        display: block;
        width: 100%; }
        /* line 1111, /Users/vuvankhai/Desktop/Job/style/style.scss */
        #signup-page .form-signup .form-item .btn-signup:hover {
          background: #af1e48;
          border: 1px solid #af1e48; }
      /* line 1117, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #signup-page .form-signup .form-item.authen {
        border: 0;
        margin-bottom: 0;
        text-align: center; }
        /* line 1122, /Users/vuvankhai/Desktop/Job/style/style.scss */
        #signup-page .form-signup .form-item.authen a {
          cursor: pointer;
          margin: 0 auto;
          transform: translateY(-10px); }
          /* line 1127, /Users/vuvankhai/Desktop/Job/style/style.scss */
          #signup-page .form-signup .form-item.authen a:hover {
            border-bottom: 1px solid #bd1949; }
        /* line 1132, /Users/vuvankhai/Desktop/Job/style/style.scss */
        #signup-page .form-signup .form-item.authen input {
          display: none; }
        /* line 1136, /Users/vuvankhai/Desktop/Job/style/style.scss */
        #signup-page .form-signup .form-item.authen .plabel {
          display: none; }
      /* line 1142, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #signup-page .form-signup .form-item.authen-input a {
        display: none; }
    /* line 1148, /Users/vuvankhai/Desktop/Job/style/style.scss */
    #signup-page .form-signup .item-option {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      color: #6a6f72;
      font-size: 15px; }
      /* line 1158, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #signup-page .form-signup .item-option .remember .checkbox input {
        transform: translateY(-0.3px); }
      /* line 1165, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #signup-page .form-signup .item-option .forgot a {
        color: #6a6f72; }
    /* line 1171, /Users/vuvankhai/Desktop/Job/style/style.scss */
    #signup-page .form-signup .signup-option-title {
      border-bottom: 1px solid #edeff3;
      color: #0a0918;
      height: 0;
      margin: 1rem 0 1.533rem;
      text-align: center; }
      /* line 1178, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #signup-page .form-signup .signup-option-title .title {
        color: #6a6f72;
        background: #fff;
        display: inline-block;
        padding: 0 1rem;
        position: relative;
        top: -0.8rem; }
    /* line 1188, /Users/vuvankhai/Desktop/Job/style/style.scss */
    #signup-page .form-signup .signup-option {
      display: flex;
      justify-content: space-between; }
      /* line 1192, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #signup-page .form-signup .signup-option a {
        width: calc(50% - 5px);
        background: #efeff5;
        color: #a7abb3;
        text-align: center; }
        /* line 1199, /Users/vuvankhai/Desktop/Job/style/style.scss */
        #signup-page .form-signup .signup-option a i {
          margin-right: 5px;
          font-size: 15px;
          transform: translateY(1px); }
        /* line 1205, /Users/vuvankhai/Desktop/Job/style/style.scss */
        #signup-page .form-signup .signup-option a:hover {
          background: #6a6f72;
          color: #f6f6f9; }
          /* line 1209, /Users/vuvankhai/Desktop/Job/style/style.scss */
          #signup-page .form-signup .signup-option a:hover i {
            color: #ccc; }
    /* line 1216, /Users/vuvankhai/Desktop/Job/style/style.scss */
    #signup-page .form-signup .authen-message {
      margin-top: 15px; }
      /* line 1219, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #signup-page .form-signup .authen-message p {
        color: #b8bdc5;
        text-align: center;
        font-size: 13px; }
        /* line 1224, /Users/vuvankhai/Desktop/Job/style/style.scss */
        #signup-page .form-signup .authen-message p a {
          text-decoration: underline;
          color: #b8bdc5; }

/* line 1234, /Users/vuvankhai/Desktop/Job/style/style.scss */
#recover-page {
  padding: 50px 0;
  min-height: 400px; }
  /* line 1239, /Users/vuvankhai/Desktop/Job/style/style.scss */
  #recover-page h1.title-page {
    color: #282562;
    font-family: MrEavesXLModOT-Ultra;
    font-size: 22px;
    text-align: center; }
  /* line 1247, /Users/vuvankhai/Desktop/Job/style/style.scss */
  #recover-page .sub-title {
    text-align: center;
    margin-bottom: 15px;
    font-family: MrEavesXLModOT-Ultra;
    color: #282562; }
  /* line 1254, /Users/vuvankhai/Desktop/Job/style/style.scss */
  #recover-page .form-recover {
    width: 310px;
    margin: auto;
    max-width: 100%; }
    /* line 1259, /Users/vuvankhai/Desktop/Job/style/style.scss */
    #recover-page .form-recover .form-item {
      border: 1px solid #d8dae0;
      height: 50px;
      overflow: hidden;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      position: relative; }
      /* line 1268, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #recover-page .form-recover .form-item input {
        width: 100%;
        outline: none;
        border: 0;
        padding-left: 15px;
        transition: .1s; }
      /* line 1276, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #recover-page .form-recover .form-item .plabel {
        position: absolute;
        top: 100%;
        left: 15px;
        font-size: 15px;
        color: #828282;
        transition: .05s; }
      /* line 1286, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #recover-page .form-recover .form-item.item-focus input {
        margin-top: 17px; }
      /* line 1290, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #recover-page .form-recover .form-item.item-focus .plabel {
        top: 2px; }
      /* line 1296, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #recover-page .form-recover .form-item.no-border {
        border: 0; }
      /* line 1300, /Users/vuvankhai/Desktop/Job/style/style.scss */
      #recover-page .form-recover .form-item .btn-recover {
        background: #ee2761;
        border: 1px solid #ee2761;
        margin: auto; }
        /* line 1306, /Users/vuvankhai/Desktop/Job/style/style.scss */
        #recover-page .form-recover .form-item .btn-recover:hover {
          background: #af1e48;
          border: 1px solid #af1e48; }

/*# sourceMappingURL=style.css.map */