@font-face {
    font-family: MrEavesXLModOT-Book;
    src: url(../mreavesxl/MrEavesXLModOT-Book.ttf);
}

@font-face {
    font-family: MrEavesXLModOT-Bold;
    src: url(../mreavesxl/MrEavesXLModOT-Bold.ttf);
}

@font-face {
    font-family: MrEavesXLModOT-Ultra;
    src: url(/gthaptik/gt-haptik-bold-webfont.ttf);
}

cleanUL {
    margin: 0;
    padding: 0;
    list-style: none;
}

cleanA {
    text-decoration: none;
    color: #000;
}

myButton {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.4375rem 1.75rem;
    border: 0;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    -webkit-transition: all 150ms;
    transition: all 150ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: MrEavesXLModOT-Book;
}

.container-fluid {
    padding-left: 60px;
    padding-right: 60px;
}

header {
    position: relative;
    border-bottom: 1px solid #edeff3;

    .logo {
        display: flex;

        a {
            display: block;
            padding: 1rem .5rem 1rem 0;
            height: 4rem;

            img {
                height: 28px;
                width: auto;
            }

            &.btn-menu-mobile {
                font-size: 14px;
                display: none;
                align-items: center;

                i {
                    color: #272727;
                    transition: .3s;
                }

                &.change-close {
                    i {
                        transform: rotate(-180deg);
                    }
                }
            }
        }
    }

    .btn-search-mobile {
        display: none;
    }

    .site-menu {
        @extend cleanUL;
        float: right;

        li {
            display: inline-block;

            a {
                @extend cleanA;
                display: block;
                padding: 1rem;
                cursor: pointer;
                color: #0a0918;

                &:hover {
                    color: #ee2761;
                }
            }

            &.login {
                a {
                    color: #ee2761;
                    font-weight: bold;
                }
            }
        }
    }

    .menu-mobile {
        position: absolute;
        @extend cleanUL;
        background: #fff;
        top: 100%;
        left: -5px;
        width: calc(100% + 10px);
        display: none;
        z-index: 2;

        li {
            display: block;
            width: 100%;

            a {
                @extend cleanA;
                display: block;
                padding: .5rem;
                cursor: pointer;
                color: #0a0918;
                border-bottom: 1px solid #dee2e6;
                text-align: center;
                font-size: 14px;
            }

            &.current {
                a {
                    color: #ee2761;
                    font-weight: bold;
                }
            }

            &:last-child {
                a {
                    border: 0;
                }
            }
        }
    }

    .search-form {
        position: relative;
        float: left;
        z-index: 2;

        form {
            position: relative;
            height: 44px;

            input {
                &[type="text"] {
                    width: 340px;
                    height: 44px;
                    padding-top: 4px;
                    padding-left: 40px;
                    outline: none;
                    border: 0;
                    background: #f6f6f9;
                    border-radius: 2px 0px 0px 2px;
                    transform: translateY(1px);

                    &:focus {
                        box-shadow: none;
                    }
                }
            }

            .icon-search {
                position: absolute;
                left: 0;
                top: calc(50% + 3px);
                transform: translateY(-50%);
                width: 40px;
                text-align: center;

                i {
                    font-size: 14px;
                }
            }

            button {
                @extend myButton;
                background: #ee2761;
                border: 1px solid #ee2761;
                padding: 9px 28px 9px;
                border-radius: 0px 2px 2px 0px;
                margin-left: -4px;

                &:hover {
                    background: #af1e48;
                    border: 1px solid #af1e48;
                }
            }
        }

        .suggestion-results {
            position: absolute;
            width: 325px;
            top: calc(100% + 7px);
            display: none;

            h3 {
                background: #edeff3;
                color: #b8bdc5;
                font-weight: 600;
                letter-spacing: .5px;
                font-size: 13px;
                padding: 5px 20px;
                margin: 0;
                border-radius: 2px 2px 0px 0px;
            }

            ul {
                @extend cleanUL;
                background: #fff;
                border-radius: 0px 0px 2px 2px;
                overflow: hidden;

                li {
                    a {
                        @extend cleanA;
                        color: #6a6f72;
                        font-weight: bold;
                        display: block;
                        padding: 1.25rem 1.25rem;
                        line-height: 1.7px;
                        text-align: left;
                        border-bottom: 1px solid #edeff3;

                        &:hover {
                            background: #f2feff;
                            color: #428c95;
                        }
                    }
                }
            }
        }
    }

    &.no-homepage {
        .search-form {
            transform: translateY(8px);

            .action-search {
                background: #fff;
                border: 1px solid #d8dae0;

                &:focus {
                    border-color: #5ec8d5;
                    outline: none;
                }
            }
        }
    }
}

nav {
    &.no-homepage {
        border-bottom: 1px solid #edeff3;
    }

    .nav-bar {
        ul {
            @extend cleanUL;

            li {
                display: inline-block;
                margin-right: 1.625rem;
                padding: 1rem 0;

                a {
                    @extend cleanA;
                    color: #575c5f;
                }

                &:hover {
                    a {
                        color: #000;
                    }
                }
            }
        }
    }
}

#homepage-one {
    background: url(../images/E4TgtTi.png) top !important;
    background-size: cover;
    padding: 0 90px;
    margin-bottom: 50px;

    .page-content {
        padding: 150px 0;
        max-width: 570px;
        color: #fff;

        h1 {
            font-size: 3rem;
            font-family: MrEavesXLModOT-Ultra;
        }

        p {}

        a {
            @extend myButton;
            color: #212032;
            background-color: #fff;
            border: 1px solid #6a6f72;

            &:hover {
                border: 1px solid #b6b8b9;
            }
        }
    }
}

#homepage-two {
    background: url(../images/Remelia+-+HPimageHeader.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding: 0 90px;

    .page-content {
        padding: 150px 0;

        h2 {
            color: #fff;
            font-size: 4.5rem;
            max-width: 570px;
            font-family: MrEavesXLModOT-Ultra;
        }

        .search-form {
            margin-top: 20px;
            position: relative;

            form {
                position: relative;
                height: 44px;

                input {
                    &[type="text"] {
                        width: 270px;
                        height: 44px;
                        padding-top: 4px;
                        padding-left: 40px;
                        outline: none;
                        border: 0;
                        background: #f6f6f9;
                        border-radius: 2px 0px 0px 2px;
                        transform: translateY(1px);

                        &:focus {
                            box-shadow: none;
                        }
                    }
                }

                .icon-search {
                    position: absolute;
                    left: 0;
                    top: calc(50% + 3px);
                    transform: translateY(-50%);
                    width: 40px;
                    text-align: center;

                    i {
                        font-size: 14px;
                    }
                }

                button {
                    @extend myButton;
                    background: #ee2761;
                    border: 1px solid #ee2761;
                    padding: 9px 28px 9px;
                    border-radius: 0px 2px 2px 0px;
                    margin-left: -4px;

                    &:hover {
                        background: #af1e48;
                        border: 1px solid #af1e48;
                    }
                }
            }

            .suggestion-results {
                position: absolute;
                width: 345px;
                top: calc(100% + 7px);
                display: none;

                h3 {
                    background: #edeff3;
                    color: #b8bdc5;
                    font-weight: 600;
                    letter-spacing: .5px;
                    font-size: 13px;
                    padding: 5px 20px;
                    margin: 0;
                    border-radius: 2px 2px 0px 0px;
                }

                ul {
                    @extend cleanUL;
                    background: #fff;
                    border-radius: 0px 0px 2px 2px;
                    overflow: hidden;

                    li {
                        a {
                            @extend cleanA;
                            color: #6a6f72;
                            font-weight: bold;
                            display: block;
                            padding: 1.25rem 1.25rem;
                            line-height: 1.7px;
                            text-align: left;
                            border-bottom: 1px solid #edeff3;

                            &:hover {
                                background: #f2feff;
                                color: #428c95;
                            }
                        }
                    }
                }
            }
        }
    }
}

#homepage-three {
    padding: 1.875rem 90px;
    background: #212032;

    .content-cta {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;

        p {
            color: #fff;
            font-weight: 400;
            margin: 0 2em 0 0;
            font-size: 1.125rem;
        }

        a {
            @extend myButton;
            background: #ee2761;
            border: 1px solid #ee2761;

            &:hover {
                background: #af1e48;
                border: 1px solid #af1e48;
            }
        }
    }
}

.homepage-product {
    margin-top: 50px;

    h2 {
        &.title-categories {
            margin-bottom: 40px;
            color: #000;
            font-family: MrEavesXLModOT-Ultra;

            a {
                @extend cleanA;
                font-size: 16px;
                color: #ee2761;
                font-family: MrEavesXLModOT-Book;
                margin-left: 15px;
                font-weight: bold;
            }
        }
    }

    .item-product {
        .thumb {
            margin-bottom: 15px;
            height: 340px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img {
                width: 100%;

            }
        }

        h2 {
            margin: 0;

            a {
                color: #0a0918;
                font-weight: bold;
                font-size: .9375rem;
                display: block;
                text-align: center;
                padding: 0 15px;
                text-decoration: none;
            }
        }

        p {
            color: #6a6f72;
            font-size: .8em;
            text-align: center;
            padding: 0 15px;
            margin: 0;
        }
    }
}

#homepage-four {
    margin-top: 50px;

    .images-desktop {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.homepage-cate {

    margin-top: 50px;

    h2 {
        &.title-categories {
            margin-bottom: 40px;
            color: #000;
            font-family: MrEavesXLModOT-Ultra;
        }
    }

    .c-item {
        img {
            width: 100%;
        }
    }
}

#promo-video {
    background: #f6f6f9;
    margin-top: 50px;
    padding: 50px;

    .thumb-video {
        img {
            width: 100%;

        }
    }

    .content-video {
        margin-top: 50px;

        h2 {
            color: #282562;
            font-family: MrEavesXLModOT-Ultra;
        }

        p {}

        a {
            @extend myButton;
            background: #ee2761;
            border: 1px solid #ee2761;

            &:hover {
                background: #af1e48;
                border: 1px solid #af1e48;
            }
        }
    }
}

footer {
    background: #282562;
    padding: 50px 0 30px;
    margin-top: 50px;

    .footer-nav {
        margin-bottom: 40px;
    }

    ul {
        @extend cleanUL;

        li {
            display: inline-block;
            padding-right: 1.8125rem;

            a {
                @extend cleanA;
                color: #fff;
                opacity: .9;

                &:hover {
                    opacity: .5;
                    color: #fff;
                    text-decoration: none;
                }
            }

            &.help {
                a {
                    @extend myButton;
                    background: #ee2761;
                    border: 1px solid #ee2761;

                    &:hover {
                        background: #af1e48;
                        border: 1px solid #af1e48;
                    }

                }
            }
        }
    }

    .switcher-language {
        text-align: right;

        select {
            border: 1px solid rgba(232, 236, 237, 0.7);
            height: 40px;
            background: #282562;
            color: #fff;
            opacity: .9;
            width: 120px;
            outline: none;

            &focus {
                box-shadow: none;
            }
        }
    }

    p {
        &.copyright {
            color: #fff;
            opacity: .9;
        }
    }

    .social {
        ul {
            @extend cleanUL;
            text-align: right;

            li {
                padding-right: 1rem;

                a {
                    text-decoration: none;
                    color: #fff;
                    opacity: .6;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .m-help {
        display: none;
    }

    &.no-homepage {
        .footer-nav {
            ul {
                li {
                    margin-bottom: 10px;
                }
            }
        }

        .switcher-language {
            text-align: left;
        }

        .copyright {
            float: left;
        }

        .socical {
            float: right;
        }
    }
}

.search-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;

    .over-modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .6);
    }

    .search-form {
        position: absolute;
        top: 0;
        width: 100%;
        background: #fff;
        z-index: 1;

        form {
            position: relative;
            height: 44px;

            input {
                &[type="text"] {
                    width: 100%;
                    height: 44px;
                    padding-top: 4px;
                    padding-left: 40px;
                    outline: none;
                    border: 0;
                    background: #fff;
                    border-radius: 2px 0px 0px 2px;
                    transform: translateY(1px);

                    &:focus {
                        box-shadow: none;
                    }
                }
            }

            .icon-search {
                position: absolute;
                left: 0;
                top: calc(50% + 3px);
                transform: translateY(-50%);
                width: 40px;
                text-align: center;

                i {
                    font-size: 14px;
                }
            }

            button {
                @extend myButton;
                background: #ee2761;
                border: 1px solid #ee2761;
                padding: 9px 28px 9px;
                border-radius: 0px 2px 2px 0px;
                margin-left: -4px;

                &:hover {
                    background: #af1e48;
                    border: 1px solid #af1e48;
                }
            }

            .btn-cancel {
                position: absolute;
                right: 15px;
                top: 11px;
                font-weight: bold;
            }
        }

        .suggestion-results {
            position: absolute;
            width: 100%;
            top: calc(100%);

            h3 {
                background: #edeff3;
                color: #b8bdc5;
                font-weight: 600;
                letter-spacing: .5px;
                font-size: 13px;
                padding: 5px 20px;
                margin: 0;
                border-radius: 2px 2px 0px 0px;
            }

            ul {
                @extend cleanUL;
                background: #fff;
                border-radius: 0px 0px 2px 2px;
                overflow: hidden;

                li {
                    a {
                        @extend cleanA;
                        color: #6a6f72;
                        font-weight: bold;
                        display: block;
                        padding: 1.25rem 1.25rem;
                        line-height: 1.7px;
                        text-align: left;
                        border-bottom: 1px solid #edeff3;

                        &:hover {
                            background: #f2feff;
                            color: #428c95;
                        }
                    }
                }
            }
        }
    }
}

#login-page {
    padding: 50px 0;

    h1 {
        &.title-page {
            color: #282562;
            font-family: MrEavesXLModOT-Ultra;
            font-size: 28px;
            text-align: center;
        }
    }

    .sub-title {
        text-align: center;
        margin-bottom: 15px;

        a {
            color: #ee2761;
        }
    }

    .form-login {
        width: 310px;
        margin: auto;
        max-width: 100%;

        .form-item {
            border: 1px solid #d8dae0;
            height: 50px;
            overflow: hidden;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            position: relative;

            input {
                width: 100%;
                outline: none;
                border: 0;
                padding-left: 15px;
                transition: .1s;
            }

            .plabel {
                position: absolute;
                top: 100%;
                left: 15px;
                font-size: 15px;
                color: #828282;
                transition: .05s;
            }

            &.item-focus {
                input {
                    margin-top: 17px;
                }

                .plabel {
                    top: 2px;

                }
            }

            &.no-border {
                border: 0;
            }

            .btn-login {
                @extend myButton;
                background: #ee2761;
                border: 1px solid #ee2761;
                display: block;
                width: 100%;

                &:hover {
                    background: #af1e48;
                    border: 1px solid #af1e48;
                }
            }

            &.authen {
                border: 0;
                margin-bottom: 0;
                text-align: center;

                a {
                    cursor: pointer;
                    margin: 0 auto;
                    transform: translateY(-10px);

                    &:hover {
                        border-bottom: 1px solid #bd1949;
                    }
                }

                input {
                    display: none;
                }

                .plabel {
                    display: none;
                }
            }

            &.authen-input {
                a {
                    display: none;
                }
            }
        }

        .item-option {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            color: #6a6f72;
            font-size: 15px;

            .remember {
                .checkbox {
                    input {
                        transform: translateY(-0.3px);
                    }
                }
            }

            .forgot {
                a {
                    color: #6a6f72;
                }
            }
        }

        .login-option-title {
            border-bottom: 1px solid #edeff3;
            color: #0a0918;
            height: 0;
            margin: 1rem 0 1.533rem;
            text-align: center;

            .title {
                color: #6a6f72;
                background: #fff;
                display: inline-block;
                padding: 0 1rem;
                position: relative;
                top: -0.8rem;
            }
        }

        .login-option {
            display: flex;
            justify-content: space-between;

            a {
                @extend myButton;
                width: calc(50% - 5px);
                background: #efeff5;
                color: #a7abb3;
                text-align: center;

                i {
                    margin-right: 5px;
                    font-size: 15px;
                    transform: translateY(1px);
                }

                &:hover {
                    background: #6a6f72;
                    color: #f6f6f9;

                    i {
                        color: #ccc;
                    }
                }
            }
        }
    }
}

#signup-page {
    padding: 50px 0;

    h1 {
        &.title-page {
            color: #282562;
            font-family: MrEavesXLModOT-Ultra;
            font-size: 28px;
            text-align: center;
        }
    }

    .sub-title {
        text-align: center;
        margin-bottom: 15px;

        a {
            color: #ee2761;
        }
    }

    .form-signup {
        width: 310px;
        margin: auto;
        max-width: 100%;

        .form-item {
            border: 1px solid #d8dae0;
            height: 50px;
            overflow: hidden;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            position: relative;

            input {
                width: 100%;
                outline: none;
                border: 0;
                padding-left: 15px;
                transition: .1s;
            }

            .plabel {
                position: absolute;
                top: 100%;
                left: 15px;
                font-size: 15px;
                color: #828282;
                transition: .05s;
            }

            &.item-focus {
                input {
                    margin-top: 17px;
                }

                .plabel {
                    top: 2px;

                }
            }

            &.no-border {
                border: 0;
            }

            .btn-signup {
                @extend myButton;
                background: #ee2761;
                border: 1px solid #ee2761;
                display: block;
                width: 100%;

                &:hover {
                    background: #af1e48;
                    border: 1px solid #af1e48;
                }
            }

            &.authen {
                border: 0;
                margin-bottom: 0;
                text-align: center;

                a {
                    cursor: pointer;
                    margin: 0 auto;
                    transform: translateY(-10px);

                    &:hover {
                        border-bottom: 1px solid #bd1949;
                    }
                }

                input {
                    display: none;
                }

                .plabel {
                    display: none;
                }
            }

            &.authen-input {
                a {
                    display: none;
                }
            }
        }

        .item-option {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            color: #6a6f72;
            font-size: 15px;

            .remember {
                .checkbox {
                    input {
                        transform: translateY(-0.3px);
                    }
                }
            }

            .forgot {
                a {
                    color: #6a6f72;
                }
            }
        }

        .signup-option-title {
            border-bottom: 1px solid #edeff3;
            color: #0a0918;
            height: 0;
            margin: 1rem 0 1.533rem;
            text-align: center;

            .title {
                color: #6a6f72;
                background: #fff;
                display: inline-block;
                padding: 0 1rem;
                position: relative;
                top: -0.8rem;
            }
        }

        .signup-option {
            display: flex;
            justify-content: space-between;

            a {
                @extend myButton;
                width: calc(50% - 5px);
                background: #efeff5;
                color: #a7abb3;
                text-align: center;

                i {
                    margin-right: 5px;
                    font-size: 15px;
                    transform: translateY(1px);
                }

                &:hover {
                    background: #6a6f72;
                    color: #f6f6f9;

                    i {
                        color: #ccc;
                    }
                }
            }
        }

        .authen-message {
            margin-top: 15px;

            p {
                color: #b8bdc5;
                text-align: center;
                font-size: 13px;

                a {
                    text-decoration: underline;
                    color: #b8bdc5;
                }
            }
        }
    }
}

#recover-page {
    padding: 50px 0;
    min-height: 400px;

    h1 {
        &.title-page {
            color: #282562;
            font-family: MrEavesXLModOT-Ultra;
            font-size: 22px;
            text-align: center;
        }
    }

    .sub-title {
        text-align: center;
        margin-bottom: 15px;
        font-family: MrEavesXLModOT-Ultra;
        color: #282562;
    }

    .form-recover {
        width: 310px;
        margin: auto;
        max-width: 100%;

        .form-item {
            border: 1px solid #d8dae0;
            height: 50px;
            overflow: hidden;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            position: relative;

            input {
                width: 100%;
                outline: none;
                border: 0;
                padding-left: 15px;
                transition: .1s;
            }

            .plabel {
                position: absolute;
                top: 100%;
                left: 15px;
                font-size: 15px;
                color: #828282;
                transition: .05s;
            }

            &.item-focus {
                input {
                    margin-top: 17px;
                }

                .plabel {
                    top: 2px;

                }
            }

            &.no-border {
                border: 0;
            }

            .btn-recover {
                @extend myButton;
                background: #ee2761;
                border: 1px solid #ee2761;
                margin: auto;

                &:hover {
                    background: #af1e48;
                    border: 1px solid #af1e48;
                }
            }
        }
    }
}

#header-shop {
    background: url(../images/shop_hero_image.jpg);
    background-size: cover;
    padding: 80px 0;
    position: relative;

    h1 {
        &.title {
            text-align: center;
            color: #fff;
            font-family: MrEavesXLModOT-Ultra;
            font-size: 68px;
            margin-bottom: 30px;
        }
    }

    .sub-title {
        text-align: center;
        color: #fff;
        font-size: 26px;
        max-width: 630px;
        font-family: MrEavesXLModOT-Ultra;
        margin: auto;
    }

    .search-shop {

        form {
            display: flex;
            box-shadow: 6px 6px 30px rgba(33, 32, 50, 0.2);
            position: absolute;
            bottom: -100px;
            left: 50%;
            transform: translateX(-50%);


            input {
                width: 290px;
                height: 60px;
                outline: none;
                border: 0;
                padding-left: 15px;
                font-size: 20px;
            }

            button {
                height: 60px;
                font-size: 1.2em;
                background-color: #282562;
                border: 0;
                position: relative;
                width: 60px;
                color: #fff;
            }
        }
    }
}

.page-product {
    margin-top: 50px;

    h2 {
        &.title-categories {
            margin-bottom: 20px;
            margin-top: 20px;
            color: #0a0918;
            font-family: MrEavesXLModOT-Ultra;
            font-size: 24px;

            a {
                @extend cleanA;
                font-size: 16px;
                color: #ee2761;
                font-family: MrEavesXLModOT-Book;
                margin-left: 15px;
                font-weight: bold;
            }
        }
    }

    .item-product {
        .thumb {
            margin-bottom: 15px;
            height: 340px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img {
                width: 100%;

            }
        }

        h2 {
            margin: 0;

            a {
                color: #0a0918;
                font-weight: bold;
                font-size: .9375rem;
                display: block;
                text-align: center;
                padding: 0 15px;
                text-decoration: none;
            }
        }

        p {
            color: #6a6f72;
            font-size: .8em;
            text-align: center;
            padding: 0 15px;
            margin: 0;
        }
    }

    .single-item {
        margin-bottom: 10px;

        a {
            color: #fff;
            font-size: 18px;
            font-family: MrEavesXLModOT-Ultra;
            margin: auto;
            display: block;
            text-align: center;
            text-decoration: none;
            padding: 170px 0 40px 0;
        }
    }

    .two-item {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 10px;

        a {
            width: calc(50% - 7px);
            color: #fff;
            font-size: 18px;
            font-family: MrEavesXLModOT-Ultra;
            margin: auto;
            display: block;
            text-align: center;
            text-decoration: none;
            padding: 170px 0 40px 0;
            margin: 0;
        }
    }

    .three-item {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 10px;

        a {
            width: calc(33% - 5px);
            color: #fff;
            font-size: 18px;
            font-family: MrEavesXLModOT-Ultra;
            margin: auto;
            display: block;
            text-align: center;
            text-decoration: none;
            padding: 170px 0 40px 0;
            margin: 0;
        }
    }
}

#header-category {
    background-image: linear-gradient(91deg, #282562, #ee2761);
    color: #fff;
    padding: 45px 0;

    h1 {
        font-family: MrEavesXLModOT-Ultra;
    }

    p {
        font-family: MrEavesXLModOT-Ultra;
    }
}

#content-category {
    .breadcrumb-viewport {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding: 35px 0 20px 0;
        z-index: 2;

        .breadcrumb-item {
            font-size: 14px;

            &.breadcrumb-link {
                a {
                    @extend cleanA;
                    color: #b8bdc5;

                    &:hover {
                        color: #5ec8d5;
                    }

                }
            }
        }

        .browse {
            width: 100%;
            position: absolute;
            top: 1px;
            left: 0;
            display: none;

            .title {
                background: rgba(0, 0, 0, 0);
                display: flex;
                justify-content: flex-end;

                a {
                    width: 90px;
                    background: #f6f6f9;
                    text-align: center;
                    height: 40px;
                    line-height: 40px;
                    color: #ee2761;
                    font-family: MrEavesXLModOT-Bold;
                    font-size: 14px;

                    i {
                        transform: translateY(1px);
                        margin-left: 5px;
                    }
                }
            }

            .main {
                padding: 20px;
                background: #f6f6f9;
                display: none;

                .category-nav-link {
                    color: #ee2761;
                    font-family: MrEavesXLModOT-Bold;
                    font-size: 15px;
                    margin-bottom: 20px;
                    display: block;
                    text-decoration: none;
                }

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        list-style: none;

                        a {
                            color: #000;
                            font-family: MrEavesXLModOT-Bold;
                            font-size: 15px;
                            text-decoration: none;
                        }

                        ul {
                            margin-top: 5px;
                            padding-left: 20px;

                            li {
                                margin-bottom: 5px;

                                a {
                                    color: #6a6f72;
                                    text-decoration: none;

                                    &:hover {
                                        color: #5ec8d5;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    .sidebar {
        background: #f6f6f9;
        padding: 20px;

        .category-nav-link {
            color: #ee2761;
            font-family: MrEavesXLModOT-Bold;
            font-size: 15px;
            margin-bottom: 20px;
            display: block;
            text-decoration: none;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;

                a {
                    color: #000;
                    font-family: MrEavesXLModOT-Bold;
                    font-size: 15px;
                    text-decoration: none;
                }

                ul {
                    margin-top: 5px;
                    padding-left: 20px;

                    li {
                        margin-bottom: 5px;

                        a {
                            color: #6a6f72;
                            text-decoration: none;

                            &:hover {
                                color: #5ec8d5;
                            }
                        }
                    }
                }
            }
        }
    }

    .data-category {
        .item-product {
            margin-bottom: 15px;

            .thumb {
                margin-bottom: 15px;
                height: 320px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                img {
                    width: 100%;

                }
            }

            h2 {
                margin: 0;

                a {
                    color: #0a0918;
                    font-weight: bold;
                    font-size: .9375rem;
                    display: block;
                    text-align: center;
                    padding: 0 15px;
                    text-decoration: none;
                }
            }

            p {
                color: #6a6f72;
                font-size: .8em;
                text-align: center;
                padding: 0 15px;
                margin: 0;
            }
        }
    }
}

.pagination {
    text-align: center;
    display: block;
    margin-top: 40px;

    li {
        display: inline-block;

        a {
            font-family: MrEavesXLModOT-Bold;
            color: #b8bdc5;
            font-size: 1em;
            padding: .1em .75em;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                color: #5ec8d5;
            }
        }

        &.active {
            a {
                color: #000;
                pointer-events: none;
            }
        }
    }
}

#polici {
    padding: 60px 0 30px 0;

    .sidebar {
        h2 {
            &.title {
                color: #6a6f72;
                font-family: MrEavesXLModOT-Bold;
                font-size: 20px;
            }
        }

        ul {
            @extend cleanUL;

            li {
                width: 100%;
                margin-bottom: 15px;

                a {
                    @extend cleanA;
                    color: #b8bdc5;
                    padding: 10px 15px;
                    font-family: MrEavesXLModOT-Bold;
                    font-size: 15px;
                    border-radius: 5px;

                    &:hover {
                        color: #dadada;
                    }
                }

                &.active {
                    a {
                        background: #5ec8d5;
                        color: #fff;
                        pointer-events: none;
                    }
                }
            }
        }
    }

    .main-content {
        overflow-x: hidden;

        img {
            max-width: 100%;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #282562;
            font-family: MrEavesXLModOT-Ultra;

        }
    }
}


#shopping-cart {
    padding: 50px 0;

    .cart-detail {
        h1 {
            color: #282562;
            font-family: MrEavesXLModOT-Ultra;
            font-size: 28px;
            margin-bottom: 40px;
        }

        .list {
            .cart-item {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                border-bottom: 1px solid #edeff3;
                padding-bottom: 15px;
                margin-bottom: 15px;

                .thumb {
                    width: 66px;
                    height: 66px;
                    overflow: hidden;
                    border-radius: 4px;
                    border: 1px solid #edeff3;

                    img {
                        width: 100%;
                    }
                }

                .detail {
                    width: calc(100% - 270px);
                    padding-left: 15px;
                    font-family: MrEavesXLModOT-Bold;

                    .title {
                        margin-bottom: 1px;

                        a {
                            @extend cleanA;
                        }
                    }

                    p {
                        font-size: 14px;
                        color: #6a6f72;
                        margin-bottom: 0;

                        i {
                            margin-right: 5px;
                            font-size: 16px;
                            transform: translateY(2px);
                        }
                    }
                }

                .quantity {
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    color: #6a6f72;
                    width: 30px;
                }

                .price {
                    width: 90px;
                    display: flex;
                    align-items: center;

                    span {
                        font-family: MrEavesXLModOT-Bold;
                        font-size: 20px;
                    }
                }

                .actions {
                    width: 80px;
                    display: flex;
                    align-items: center;

                    a {
                        color: #282562;
                        background-color: #fff;
                        border: 1px solid #6a6f72;
                        font-size: 14px;
                        padding: 3px 15px 0px 15px;
                        font-family: MrEavesXLModOT-Bold;
                        cursor: pointer;

                        &:hover {
                            border-color: #d8dae0;
                        }
                    }
                }

                &:last-child {
                    border: 0;
                    padding: 0;
                }
            }
        }
    }
}
